<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- jquery & reset.css-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">

        <!-- font-awesome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>

        <!-- tui editor -->
        <link rel="stylesheet" href="/js/tui.editor-1.4.10/dist/tui-editor.min.css">
        <link rel="stylesheet" href="/js/tui.editor-1.4.10/dist/tui-editor-contents.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css">
        <script src="/js/tui.editor-1.4.10/dist/tui-editor-Editor-full.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tui-color-picker@2.2.6/dist/tui-color-picker.min.css">
        <!-- tui viewer -->
<!--        <script src="js/tui.editor-1.4.10/dist/tui-editor-Viewer-full.min.js"></script>-->

        <!-- custom js & css-->
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/main.js"></script>
        <script src="/js/utils.js"></script>
    </head>
    <body>
        <div class="header">
            <div class="logo">
                <a href="/">
                    <img src="/img/logo.png" alt="로고">
                </a>
            </div>
            <div class="menu-icon">
                <i class="fas fa-bars"></i>
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/projects">Projects</a>
                    </li>
                    <li>
                        <a href="/articles">Articles</a>
                    </li>
                </ul>
            </div>
        </div>
