{{>layout/header}}
    <div class="container" >
        <div class="content">
            <div class="content-item">
                <div class="intro-view">
                    <div class="title">
                        <p class="slogan">
                            하나씩 점을 찍다보면<br>
                            언젠간<br>
                            이어져있지 않을까.
                        </p>
                    </div>
                    <div class="description">
                        <h3>흠시의 간단한 샘플 웹페이지</h3>

                        <p>
                            이 페이지는 샘플 프론트 페이지입니다.<br>
                            미니멀과 심플함을 바탕으로 구현했습니다.<br>
                            클라이언트 혹은 서버 사이드 웹을 공부하시는 분들에게 잘 활용되었으면 좋겠네요.<br>
                            출처만 밝혀주시면, 상업적 용도로 사용되어도 상관없습니다.
                        </p>
                    </div>
                </div>
            </div>
            <div class="content-item">
                <div class="content-title">
                    <h1>PROJECTS</h1>
                </div>
                <div class="project-list">
                    <div class="project-item">
                        <a href="/project-detail">
                            <div class="item-img-box">
                                <div class="interactive-img"></div>
                            </div>
                            <div class="item-description">
                                <h3>프로젝트 이름</h3>
                                <h5>프로젝트 팀 이름 </h5>
                                <p>프로젝트에 대한 설명이 여기에 들어갑니다. 프로젝트에 대한 설명이 여기에 들어갑니다. 프로젝트에 대한 설명이 여기에 들어갑니다.
                                    프로젝트에 대한 설명이 여기에 들어갑니다. 프로젝트에 대한 설명이 여기에 들어갑니다. 프로젝트에 대한 설명이 여기에 들어갑니다.
                                    프로젝트에 대한 설명이 여기에 들어갑니다. 프로젝트에 대한 설명이 여기에 들어갑니다. 프로젝트에 대한 설명이 여기에 들어갑니다.
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="project-item">
                        <a href="/project-detail">
                            <div class="item-img-box">
                                <div class="interactive-img"></div>
                            </div>
                            <div class="item-description">
                                <h3>프로젝트 이름</h3>
                                <h5>프로젝트 팀 이름 </h5>
                                <p>프로젝트에 대한 설명이 여기에 들어갑니다. 프로젝트에 대한 설명이 여기에 들어갑니다. 프로젝트에 대한 설명이 여기에 들어갑니다.
                                    프로젝트에 대한 설명이 여기에 들어갑니다. 프로젝트에 대한 설명이 여기에 들어갑니다. 프로젝트에 대한 설명이 여기에 들어갑니다.
                                    프로젝트에 대한 설명이 여기에 들어갑니다. 프로젝트에 대한 설명이 여기에 들어갑니다. 프로젝트에 대한 설명이 여기에 들어갑니다. /p>
                            </div>
                        </a>
                    </div>
                    <div class="project-item">
                        <a href="/project-detail">
                            <div class="item-img-box">
                                <div class="interactive-img"></div>
                            </div>
                            <div class="item-description">
                                <h3>프로젝트 이름</h3>
                                <h5>프로젝트 팀 이름 </h5>
                                <p>프로젝트에 대한 설명이 여기에 들어갑니다. 프로젝트에 대한 설명이 여기에 들어갑니다. 프로젝트에 대한 설명이 여기에 들어갑니다.
                                    프로젝트에 대한 설명이 여기에 들어갑니다. 프로젝트에 대한 설명이 여기에 들어갑니다. 프로젝트에 대한 설명이 여기에 들어갑니다.
                                    프로젝트에 대한 설명이 여기에 들어갑니다. 프로젝트에 대한 설명이 여기에 들어갑니다. 프로젝트에 대한 설명이 여기에 들어갑니다. </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="content-item">
                <div class="content-title">
                    <h1>ARTICLE</h1>
                </div>
                <div class="article-list">
                    <div class="article-item">
                        <a href="/article-detail">
                            <div class="item-img-box">
                                <div class="interactive-img"></div>
                            </div>
                            <div class="item-description">
                                <h3>아티클 이름</h3>
                                <h5>2019.02.12</h5>
                                <p>아티클에 대한 요약된 글이 여기에 들어갑니다. 아티클에 대한 요약된 글이 여기에 들어갑니다. 아티클에 대한 요약된 글이 여기에 들어갑니다.
                                    L아티클에 대한 요약된 글이 여기에 들어갑니다. 아티클에 대한 요약된 글이 여기에 들어갑니다. 아티클에 대한 요약된 글이 여기에 들어갑니다.
                                    아티클에 대한 요약된 글이 여기에 들어갑니다. 아티클에 대한 요약된 글이 여기에 들어갑니다. 아티클에 대한 요약된 글이 여기에 들어갑니다.</p>
                            </div>
                        </a>
                    </div>
                    <div class="article-item">
                        <a href="/article-detail">
                            <div class="item-img-box">
                                <div class="interactive-img"></div>
                            </div>
                            <div class="item-description">
                                <h3>아티클 이름</h3>
                                <h5>2019.02.12</h5>
                                <p>아티클에 대한 요약된 글이 여기에 들어갑니다. 아티클에 대한 요약된 글이 여기에 들어갑니다. 아티클에 대한 요약된 글이 여기에 들어갑니다.
                                    L아티클에 대한 요약된 글이 여기에 들어갑니다. 아티클에 대한 요약된 글이 여기에 들어갑니다. 아티클에 대한 요약된 글이 여기에 들어갑니다.
                                    아티클에 대한 요약된 글이 여기에 들어갑니다. 아티클에 대한 요약된 글이 여기에 들어갑니다. 아티클에 대한 요약된 글이 여기에 들어갑니다.</p>
                            </div>
                        </a>
                    </div>
                    <div class="article-item">
                        <a href="/article-detail">
                            <div class="item-img-box">
                                <div class="interactive-img"></div>
                            </div>
                            <div class="item-description">
                                <h3>아티클 이름</h3>
                                <h5>2019.02.12</h5>
                                <p>아티클에 대한 요약된 글이 여기에 들어갑니다. 아티클에 대한 요약된 글이 여기에 들어갑니다. 아티클에 대한 요약된 글이 여기에 들어갑니다.
                                    L아티클에 대한 요약된 글이 여기에 들어갑니다. 아티클에 대한 요약된 글이 여기에 들어갑니다. 아티클에 대한 요약된 글이 여기에 들어갑니다.
                                    아티클에 대한 요약된 글이 여기에 들어갑니다. 아티클에 대한 요약된 글이 여기에 들어갑니다. 아티클에 대한 요약된 글이 여기에 들어갑니다.</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{>layout/footer}}
