{{>layout/header}}
    <div class="container" >
        <div class="content">
            <div class="content-item">
                <div class="intro-view">
                    <div class="title">
                        <p class="slogan">
                            하나씩 점을 찍다보면<br>
                            언젠간<br>
                            이어져있지 않을까.
                        </p>
                    </div>
                    <div class="description">
                        <h3>흠시의 간단한 샘플 웹페이지</h3>

                        <p>
                            이 페이지는 샘플 프론트 페이지입니다.<br>
                            미니멀과 심플함을 바탕으로 구현했습니다.<br>
                            클라이언트 혹은 서버 사이드 웹을 공부하시는 분들에게 잘 활용되었으면 좋겠네요.<br>
                            출처만 밝혀주시면, 상업적 용도로 사용되어도 상관없습니다.
                        </p>
                    </div>
                </div>
            </div>
            <div class="content-item">
                <div class="content-title">
                    <h1>PROJECTS</h1>
                </div>
                <div class="project-list">
                    <!-- 여기에 project-item 이 들어갑니다. -->
                </div>
            </div>

            <div class="content-item">
                <div class="content-title">
                    <h1>ARTICLES</h1>
                </div>
                <div class="article-list">
                    <!-- 여기에 article-item 이 들어갑니다. -->
                </div>
            </div>
        </div>
    </div>
{{>layout/footer}}

<script>
    function getProjectHtml(project) {
        // YYYY-mm-dd 부분만 자름.
        project.createdTimeAt = project.createdTimeAt.slice(0, 10)

        let html =
            `<div class="project-item">
                <a href="/project-detail/${project.id}">
                    <div class="item-img-box">
                        <div class="interactive-img center-image" style="background-image: url('${project.coverImage}')"></div>
                    </div>
                    <div class="item-description">
                        <h3>${project.title}</h3>
                        <h5>${project.name}</h5>
                        <p>${project.description}</p>
                    </div>
                </a>
            </div>`
        return html
    }

    function getProjects(page, size) {
        let is_end = false

        $.ajax({
            method: 'GET',
            url: '/projects/list',
            data: {
                'page': page,
                'size': size
            },
            async: false,
            dataType: "json"
        }).done((projects) => {
            // 아이템 목록이 있는 경우.
            if (projects.length > 0) {
                for (let project of projects) {
                    let html = getProjectHtml(project)
                    $(".project-list").append(html);
                }
                // 아이템 목록이 없는 경우.
            } else {
                is_end = true
            }
        }).fail((error) => {
            // 실패 시, 알림창 띄움.
            alert("작업 중 에러가 발생했습니다.")
        })

        return is_end
    }

    function getArticleHtml(article) {
        // YYYY-mm-dd 부분만 자름.
        article.createdTimeAt = article.createdTimeAt.slice(0, 10)

        let html =
            `<div class="article-item">
                <a href="/article-detail/${article.id}">
                    <div class="item-img-box">
                        <div class="interactive-img center-image" style="background-image: url('${article.coverImage}')"></div>
                    </div>
                    <div class="item-description">
                        <h3>${article.title}</h3>
                        <h5>${article.createdTimeAt}</h5>
                        <p>${article.description}</p>
                    </div>
                </a>
            </div>`
        return html
    }

    function getArticles(page, size) {
        let is_end = false

        $.ajax({
            method: 'GET',
            url: '/articles/list',
            data: {
                'page': page,
                'size': size
            },
            async: false,
            dataType: "json"
        }).done((articles) => {
            // 아이템 목록이 있는 경우.
            if (articles.length > 0) {
                for (let article of articles) {
                    let html = getArticleHtml(article)
                    $(".article-list").append(html);
                }
                // 아이템 목록이 없는 경우.
            } else {
                is_end = true
            }
        }).fail((error) => {
            // 실패 시, 알림창 띄움.
            alert("작업 중 에러가 발생했습니다.")
        })

        return is_end
    }

    $(document).ready(() => {
        let page = 0; // 0번 페이지부터 시작.
        let projectSize = 3; // 한 페이지에 3개씩 아이템 배치.
        let articleSize = 3;

        // 최초로 페이지가 열렸을 때, Project 들을 불러와서 배치함.
        getProjects(page, projectSize)
        getArticles(page, articleSize)
    })
</script>
