{{>layout/header}}
    <div class="container">
        <div class="content">
            <div class="content-item">
                <div id="editorSection"></div>
                <div class="editor-menu">
                    <ul>
                        <li>
                            <button type="button" id="submit">
                                <a href="#"><i class="fas fa-success"></i>완료</a>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{{>layout/footer}}

</html>

<script>
    $(document).ready(() => {

        // tui editor 초기화
        const editor = new tui.Editor({
            el: document.querySelector('#editorSection'),
            initialEditType: 'wysiwyg',
            previewStyle: 'vertical',
            height: '800px',
            usageStatistics: false,
            exts: ['colorSyntax'],
            language: 'ko_KR',
            placeholder: '여기에 내용을 입력해주세요.'
        });

        // server 로 data 를 GET 하는 작업
        editor.setHtml(`{{{content}}}`)

        /**** 이벤트 핸들러 등록 ****/
        // * 제출 버튼 누를 시.
        $('#submit').click(() => {
            let content = editor.getHtml()

            let data = {
                'content': content
            }

            // server 로 data 를 POST 하는 작업
            $.ajax({
                method: 'POST',
                url: '/about-edit',
                data: JSON.stringify(data),
                contentType: "application/json",
                dataType: "json"
            }).done((data) => {
                // 성공 시, about 페이지로 리다이렉트.
                window.location = "/about"
            }).fail((error)=> {
                // 실패 시, 알림창 띄움.
                alert("작업 중 에러가 발생했습니다.")
            })
        })
    })
</script>
