{{>layout/header}}
    <div class="container">
        <div class="cover center-image">
            <div class="cover-mask"></div>
            <div class="cover-inner">
                <div class="cover-cell content-meta">
                    <h3 class="title">{{article.title}}</h3>
                    <p class="name">{{article.subTitle}}</p>
                    <p class="datetime">{{article.createdTimeAt}}</p>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="content-item">
                <div class="top-menu">
                    <ul>
                        <li>
                            <button type="button">
                                <a href="/article-edit/{{article.id}}"><i class="fas fa-edit"></i>수정</a>
                            </button>
                        </li>
                        <li>
                            <button type="button">
                                <a class="btn-delete"><i class="fas fa-trash"></i>삭제</a>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content-item">
                <div class="content-description">
                    <div id="viewerSection"></div>
                </div>
            </div>
        </div>
    </div>
{{>layout/footer}}

<script>
    const viewer = new tui.Editor.factory({
        el: document.querySelector('#viewerSection'),
        viewer: true,
        height: 'fit-content'
    })
    viewer.setValue(`{{{article.content}}}`);

    // YYYY-mm-dd 부분만 자름.
    $(".datetime").text($(".datetime").text().slice(0, 10))

    // cover image 삽입
    {{#article.coverImage}}
        console.log("hi")
        $('.cover').css("background-image", "url('{{{article.coverImage}}}')")
    {{/article.coverImage}}

    $(document).ready(() => {

        // 삭제 버튼 눌렀을 시.
        $(".btn-delete").click(() => {
            $.ajax({
                method: 'DELETE',
                url: '/article-detail/{{article.id}}',
            })
            // TODO : 예외처리 코드
            window.location = "/articles"
        })
    })
</script>
