{{>layout/header}}
    <div class="container">
        <div class="content">
            <div class="content-item">
                <div class="content-title">
                    <h1>ARTICLES</h1>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean
                        massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Donec
                        quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                        Donec pede justo, fringilla vel</p>
                </div>
                <div class="top-menu">
                    <ul>
                        <li>
                            <button type="button">
                                <a href="/article-edit"><i class="fas fa-plus"></i>추가</a>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="article-list">
                    <div class="article-item">
                        <a href="/article-detail">
                            <div class="item-img-box">
                                <div class="interactive-img"></div>
                            </div>
                            <div class="item-description">
                                <h3>아티클 이름</h3>
                                <h5>2019.02.12</h5>
                                <p>아티클에 대해 요약된 글이 여기에 들어갑니다. 아티클에 대해 요약된 글이 여기에 들어갑니다. 아티클에 대해 요약된 글이 여기에 들어갑니다.
                                    아티클에 대해 요약된 글이 여기에 들어갑니다. 아티클에 대해 요약된 글이 여기에 들어갑니다. 아티클에 대해 요약된 글이 여기에 들어갑니다.
                                    아티클에 대해 요약된 글이 여기에 들어갑니다. 아티클에 대해 요약된 글이 여기에 들어갑니다. 아티클에 대해 요약된 글이 여기에 들어갑니다.</p>
                            </div>
                        </a>
                    </div>
                    <div class="article-item">
                        <a href="/article-detail">
                            <div class="item-img-box">
                                <div class="interactive-img"></div>
                            </div>
                            <div class="item-description">
                                <h3>아티클 이름</h3>
                                <h5>2019.02.12</h5>
                                <p>아티클에 대해 요약된 글이 여기에 들어갑니다. 아티클에 대해 요약된 글이 여기에 들어갑니다. 아티클에 대해 요약된 글이 여기에 들어갑니다.
                                    아티클에 대해 요약된 글이 여기에 들어갑니다. 아티클에 대해 요약된 글이 여기에 들어갑니다. 아티클에 대해 요약된 글이 여기에 들어갑니다.
                                    아티클에 대해 요약된 글이 여기에 들어갑니다. 아티클에 대해 요약된 글이 여기에 들어갑니다. 아티클에 대해 요약된 글이 여기에 들어갑니다.</p>
                            </div>
                        </a>
                    </div>
                    <div class="article-item">
                        <a href="/article-detail">
                            <div class="item-img-box">
                                <div class="interactive-img"></div>
                            </div>
                            <div class="item-description">
                                <h3>아티클 이름</h3>
                                <h5>2019.02.12</h5>
                                <p>아티클에 대해 요약된 글이 여기에 들어갑니다. 아티클에 대해 요약된 글이 여기에 들어갑니다. 아티클에 대해 요약된 글이 여기에 들어갑니다.
                                    아티클에 대해 요약된 글이 여기에 들어갑니다. 아티클에 대해 요약된 글이 여기에 들어갑니다. 아티클에 대해 요약된 글이 여기에 들어갑니다.
                                    아티클에 대해 요약된 글이 여기에 들어갑니다. 아티클에 대해 요약된 글이 여기에 들어갑니다. 아티클에 대해 요약된 글이 여기에 들어갑니다.</p>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </div>
{{>layout/footer}}

<script>
    // TODO : server 로 data 를 GET 하는 작업
    // 여기에 코드를 입력해주세요.
</script>
