{{>layout/header}}
    <div class="container">
        <div class="cover center-image">
            <div class="cover-mask"></div>
            <div class="cover-inner">
                <div class="cover-cell content-meta">
                    <h3 class="title">아티클 제목</h3>
                    <p class="name">아티클 부제목</p>
                    <p class="datetime">2020.02.11</p>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="content-item">
                <div class="top-menu">
                    <ul>
                        <li>
                            <button type="button">
                                <a href="/article-edit"><i class="fas fa-edit"></i>수정</a>
                            </button>
                        </li>
                        <li>
                            <button type="button">
                                <a href=""><i class="fas fa-trash"></i>삭제</a>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content-item">
                <div class="content-description">
                    <div id="viewerSection"></div>
                </div>
            </div>
        </div>
    </div>
{{>layout/footer}}

<script>
    const viewer = new tui.Editor.factory({
        el: document.querySelector('#viewerSection'),
        viewer: true,
        height: 'fit-content'
    })
    viewer.setValue(`{{{content}}}`);
</script>
