{{>layout/header}}
    <div class="container">
        <div class="content">
            <div class="content-item">
                <div class="content-title">
                    <h1>PROJECTS</h1>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean
                        massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Donec
                        quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                        Donec pede justo, fringilla vel</p>
                </div>
                <div class="top-menu">
                    <ul>
                        <li>
                            <button type="button">
                                <a href="/project-edit"><i class="fas fa-plus"></i> 추가</a>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="project-list">
                    <div class="project-item">
                        <a href="/project-detail">
                            <div class="item-img-box">
                                <div class="interactive-img"></div>
                            </div>
                            <div class="item-description">
                                <h3>프로젝트 이름</h3>
                                <h5>프로젝트 팀 이름 </h5>
                                <p>프로젝트에 대한 설명이 여기에 들어갑니다. 프로젝트에 대한 설명이 여기에 들어갑니다. 프로젝트에 대한 설명이 여기에 들어갑니다.
                                    프로젝트에 대한 설명이 여기에 들어갑니다. 프로젝트에 대한 설명이 여기에 들어갑니다. 프로젝트에 대한 설명이 여기에 들어갑니다.
                                    프로젝트에 대한 설명이 여기에 들어갑니다. 프로젝트에 대한 설명이 여기에 들어갑니다. 프로젝트에 대한 설명이 여기에 들어갑니다.</p>
                            </div>
                        </a>
                    </div>
                    <div class="project-item">
                        <a href="/project-detail">
                            <div class="item-img-box">
                                <div class="interactive-img"></div>
                            </div>
                            <div class="item-description">
                                <h3>프로젝트 이름</h3>
                                <h5>프로젝트 팀 이름 </h5>
                                <p>프로젝트에 대한 설명이 여기에 들어갑니다. 프로젝트에 대한 설명이 여기에 들어갑니다. 프로젝트에 대한 설명이 여기에 들어갑니다.
                                    프로젝트에 대한 설명이 여기에 들어갑니다. 프로젝트에 대한 설명이 여기에 들어갑니다. 프로젝트에 대한 설명이 여기에 들어갑니다.
                                    프로젝트에 대한 설명이 여기에 들어갑니다. 프로젝트에 대한 설명이 여기에 들어갑니다. 프로젝트에 대한 설명이 여기에 들어갑니다.</p>
                            </div>
                        </a>
                    </div>
                    <div class="project-item">
                        <a href="/project-detail">
                            <div class="item-img-box">
                                <div class="interactive-img"></div>
                            </div>
                            <div class="item-description">
                                <h3>프로젝트 이름</h3>
                                <h5>프로젝트 팀 이름 </h5>
                                <p>프로젝트에 대한 설명이 여기에 들어갑니다. 프로젝트에 대한 설명이 여기에 들어갑니다. 프로젝트에 대한 설명이 여기에 들어갑니다.
                                    프로젝트에 대한 설명이 여기에 들어갑니다. 프로젝트에 대한 설명이 여기에 들어갑니다. 프로젝트에 대한 설명이 여기에 들어갑니다.
                                    프로젝트에 대한 설명이 여기에 들어갑니다. 프로젝트에 대한 설명이 여기에 들어갑니다. 프로젝트에 대한 설명이 여기에 들어갑니다.</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
{{>layout/footer}}
