{{>layout/header}}
    <div class="container">
        <div class="cover center-image">
            <div class="cover-mask"></div>
            <div class="cover-inner">
                <div class="cover-cell cover-image-box">
                    <div class="cover-add-image">
                        <input id="cover-image" type="file" accept="image/*" style="display: none;" />
                        <i class="fas fa-image fa-2x" id="button-add-image"></i>
                    </div>
                    <div class="cover-remove-image">
                        <i class="fas fa-times fa-2x" id="button-remove-image"></i>
                    </div>
                </div>

                <div class="cover-cell content-meta">
                    <input type="text" name="title" placeholder="프로젝트 이름" class="title">
                    <input type="text" name="name" placeholder="팀 이름" class="name">
                    <textarea rows="3" name="description" maxlength="200" wrap="virtual"
                        placeholder="프로젝트 내용을 200자 내로 요약해주세요." class="description"></textarea>
                    <input type="date" name="date_from" class="datetime"> - <input type="date" name="date_to"
                        class="datetime">
                </div>
            </div>
        </div>
        <div class="content">
            <div class="content-item">
                <div id="editorSection"></div>
                <div class="editor-menu">
                    <ul>
                        <li>
                            <button type="button" id="submit">
                                <a href="#"><i class="fas fa-success"></i>완료</a>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{{>layout/footer}}

</html>
<script>
    $(document).ready(() => {

        // tui editor 초기화
        var editor = new tui.Editor({
            el: document.querySelector('#editorSection'),
            initialEditType: 'wysiwyg',
            previewStyle: 'vertical',
            height: '800px',
            usageStatistics: false,
            exts: ['colorSyntax'],
            language: 'ko_KR',
            placeholder: '여기에 내용을 입력해주세요.'
        });

        var coverBase64Image = null; // 커버 이미지는 최종적으로 이 변수에 담깁니다.

        // TODO : server 로 data 를 GET 하는 작업
        // 여기에 코드를 입력해주세요.

        /**** 이벤트 핸들러 등록 ****/
        // * 제출 버튼 누를 시.
        $('#submit').click(() => {
            let title = $('input[name$="title"]')[0].value
            let name = $('input[name$="name"]')[0].value
            let description = $('textarea[name$="description"]')[0].value
            let content = editor.getHtml()
            let coverImage = coverBase64Image

            let data = {
                'title': title,
                'name': name,
                'description': description,
                'content': content,
                'coverImage': coverImage
            }

            // TODO : server 로 data 를 POST 하는 작업
            // 여기에 코드를 입력해주세요.

        })

        // * 커버 이미지 삭제 버튼 누를 시.
        $('#button-remove-image').click(() => {
            coverBase64Image = null
            $('.cover').css("background-image", 'none');
        })

        // * 커버 이미지 업로드 버튼 누를 시.
        $('#button-add-image').click(() => {
            $('#cover-image').trigger('click');
        })

        // * 커버 이미지 파일이 바뀌었을 시.
        $("#cover-image").change(() => {

            // 새로운 커버 이미지 렌더링.
            let img = $('#cover-image').prop('files')[0];

            if (img != undefined) {
                encodeBase64File(img).then((base64Img) => {
                    coverBase64Image = base64Img
                    $('.cover').css('background-image', `url('${coverBase64Image}')`)
                })
            }
        })
    })
</script>
